- if current_user || @tag
  #signout-link.hidden-xs
    - if @tag
      = link_to "Try it now!", root_path
    - else
      = link_to "Sign out", signout_path, method: :delete
  #search-form.form
    %input.form-control#q{type: 'text', autocomplete: 'off', autocorrect: 'off', spellcheck: 'false', placeholder: 'Search by keywords'}
    %small
      Realtime Search by
      = link_to 'http://www.algolia.com' do
        = image_tag "http://www.algolia.com/assets/algolia_white.png"
  .container-wrapper
    .container
      #stats.hidden-xs
      #social-links
        %a.twitter-follow-button{href: "https://twitter.com/algolia", "data-show-count" => "false", "data-show-screen-name" => "true"}Follow @algolia
        %a.twitter-share-button{href: "https://twitter.com/share", "data-url" => root_url, "data-via" => "algolia", 'data-text' => 'Rethink the way you search your Facebook feed'} Tweet
    #hits-wrapper{style: 'display: none'}
      .container
        .row
          #facets.col-lg-2.col-sm-3.hidden-xs
          #hits.col-lg-6.col-sm-8.col-xs-12
        .row
          #next-page.col-lg-6.col-lg-offset-2.col-sm-8.col-sm-offset-3.col-xs-12.text-center{style: "display: none;"}
            = image_tag "loading.gif", style: "width: 75px; height: 75px;"
    #no-results{style: 'display: none'}
      %p.text-center No results are matching your query.
    #loading{style: 'display: none'}
      %p.text-center
        %i.glyphicon.glyphicon-refresh.icon-rotation
        We're retrieving your feed, please wait...
        %br
        %small.text-muted Could take up to 5 minutes depending on your feed activity.

  %script#comments-template{type: 'text/template'}
    :plain
      {{#total_count}}
        <div class="actions">
          <div class="pull-right">
            {{#likes_count}}
              <i class="fa fa-thumbs-o-up"></i>
              {{ likes_count }}
            {{/likes_count}}
            {{#comments_count}}
              <i class="fa fa-comments-o"></i>
              {{ comments_count }}
            {{/comments_count}}
          </div>
          <div class="pull-left">
            {{#actions}}
              <a href="{{ link }}">{{ name }}</a>
            {{/actions}}
          </div>
          <div class="clearfix"></div>
        </div>
      {{/total_count}}
      {{#comments}}
      <div class="comments">
        {{#comments.data}}
          <div class="comment">
            <a href="http://facebook.com/{{ from.id }}" class="thumb"> 
              <img src="http://graph.facebook.com/{{ from.id }}/picture" />
            </a>
            <p>
              <strong><a href="http://facebook.com/{{ from.id }}">{{ from.name }}</a></strong>
              {{{ _highlightResult.message.value }}}
              {{#like_count}}
              <i class="fa fa-thumbs-o-up"></i>
              <strong>{{ like_count }}</strong>
              {{/like_count}}
              <abbr class="timeago" title="{{ created_time }}">{{ created_time }}</abbr>
            </p>
            <div class="clearfix"></div>
          </div>
        {{/comments.data}}
      </div>
      {{/comments}}

  %script#status-template{type: 'text/template'}
    :plain
      <div class="title">
        <a href="http://facebook.com/{{ from.id }}"> 
          <img src="http://graph.facebook.com/{{ from.id }}/picture" />
        </a>
        <h4>
          {{{ story }}} 
          <abbr class="timeago" title="{{ created_time }}">{{ created_time }}</abbr>
        </h4>
      </div>
      {{#message}}
        <div class="content">
          <p>{{{ _highlightResult.message.value }}}</p>
        </div>
      {{/message}}

  %script#media-template{type: 'text/template'}
    :plain
      <div class="title">
        <a href="http://facebook.com/{{ from.id }}"> 
          <img src="http://graph.facebook.com/{{ from.id }}/picture" />
        </a> 
        <h4>
          {{{ story }}} 
          <abbr class="timeago" title="{{ created_time }}">{{ created_time }}</abbr>
        </h4>
      </div> 
      <div class="content">
        {{#message}}
          <p>{{{ _highlightResult.message.value }}}</p>
        {{/message}}
        {{#name}}
          <h4 class="text-center">{{{ _highlightResult.name.value }}}</h4>
        {{/name}}
        {{#link}}
          <div class="text-center">
            <a href="{{ link }}">
              {{#picture}}
                <img src="{{ picture }}" class="picture" />
              {{/picture}}
              {{^picture}}
                {{ link }}
              {{/picture}}
            </a>
          </div>
        {{/link}}
        {{#description}}
          <p>{{{ _highlightResult.description.value }}}</p>
        {{/description}}
      </div>

  %script#checkin-template{type: 'text/template'}
    :plain
      <div class="title">
        <a href="http://facebook.com/{{ from.id }}"> 
          <img src="http://graph.facebook.com/{{ from.id }}/picture" />
        </a> 
        <h4>
          {{{ story }}} 
          <abbr class="timeago" title="{{ created_time }}">{{ created_time }}</abbr>
        </h4>
      </div> 
      <div class="content">
        <div class="text-center">
          <a target="_blank" href="{{ link }}"> 
            <img src="{{ picture }}" class="picture" />
          </a>
          <p>{{ caption }}</p>
        </div>
      </div>

  :javascript
    $(document).ready(function() {
      var algolia = new AlgoliaSearch('#{ENV['ALGOLIA_APPLICATION_ID']}', '#{@secured_api_key}');
      algolia.setSecurityTags('#{current_user.uid}');
      var $hits = $('#hits');
      var $facets = $('#facets');
      var $hitsWrapper = $('#hits-wrapper');
      var $noResults = $('#no-results');
      var $stats = $('#stats');
      var $loading = $('#loading');
      var $nextPage = $('#next-page');
      var $q = $('#q');
      window.page = null;
      var templates = {
        status: Hogan.compile($('#status-template').text()),
        photo: Hogan.compile($('#media-template').text()),
        link: Hogan.compile($('#media-template').text()),
        video: Hogan.compile($('#media-template').text()),
        checkin: Hogan.compile($('#checkin-template').text()),
        comments: Hogan.compile($('#comments-template').text()),
      };
      var LABELS = {
        'application.name' : 'Application',
        'type' : 'Type',
        'from.name' : 'Author',
        'story_tags.name' : 'Featuring'
      };

      window.helper = new AlgoliaSearchHelper(algolia, 'facebook_#{Rails.env}', {
        hitsPerPage: 10,
        facets: ['application.name', 'type', 'from.name', 'story_tags.name']
      });

      var loading = true;
      function searchCallback(success, content) {
        if (!success || $q.val() != content.query) {
          return;
        }

        if (loading) {
          $loading.show();
          algolia.clearCache();
          if (content.hits.length < 2) {
            $hitsWrapper.hide();
            $noResults.hide();
            $stats.hide();
            $loading.show();
            setTimeout(search, 1000);
            return;
          }
          loading = false;
        }
        $loading.hide();

        if (content.hits.length === 0) {
          if (content.page === 0) {
            $hits.empty();
            $stats.empty();
            $hitsWrapper.hide();
            $noResults.show();
          } else {
            $nextPage.hide();
          }
          return;
        }
        $hitsWrapper.show();
        $stats.show();
        $noResults.hide();

        $stats.html('<b>' + content.nbHits + '</b> result' + (content.nbHits > 1 ? 's' : '') + ' in <b>' + content.processingTimeMS + '</b> ms');

        var html = '';
        for (var i = 0; i < content.hits.length; ++i) {
          var hit = content.hits[i];
          var template = templates[hit.type];
          if (!template) {
            continue;
          }

          if (hit.picture) {
            hit.picture = hit.picture.replace(/_s.jpg$/, '_n.jpg');
          }

          if (!hit.story) {
            hit.story = '<strong><a href="http://facebook.com/' + hit.from.id + '">' + hit.from.name + '</a></strong>';
          }
          if (hit.story_tags) {
            $.each(hit.story_tags, function() {
              hit.story = hit.story.replace(this.name, '<strong><a href="http://facebook.com/' + this.id + '">' + this.name + '</a></strong>');
            });
          }

          if (hit.comments) {
            for (var j = 0; j < hit.comments.data.length; ++j) {
              hit.comments.data[j]._highlightResult = hit._highlightResult.comments.data[j];
              if (!hit.comments.data[j].from) {
                hit.comments.data[j].from = {
                  name: 'Anonymous',
                  id: 'user'
                }
              }
            }
          }

          if (hit.comments_count || hit.likes_count) {
            hit.total_count = hit.comments_count + hit.likes_count;
          }

          html += '<div class="hit ' + hit.type + '">' +
            template.render(hit) +
            templates.comments.render(hit) +
            '</div>';
        }
        if (content.page === 0) {
          $hits.html(html);
        } else {
          $hits.append(html);
        }

        if (content.page == 0) {
          html = '';
          for (var facet in content.facets) {
            var values = [];
            for (var f in content.facets[facet]) {
              values.push([f, content.facets[facet][f]]);
            }
            values.sort(function(a, b) { b[1] - a[1] });
            html += '<div class="title">' + LABELS[facet] + '</div>' +
              '<ul class="list-unstyled">' +
                $.map(values, function(e) { return '<li class="' + (helper.isRefined(facet, e[0]) ? 'active' : '') + '"><a href="#" onclick="helper.toggleRefine(\'' + facet + '\', \'' + e[0] + '\'); return false;">' + e[0] + '</a> (' + e[1] + ')'; }).join('') +
              '</ul>';
          }
          $facets.html(html);

          $nextPage.hide();
        }

        window.page = null;
        $("abbr.timeago").timeago();
      }

      window.search = function() {
        helper.page = 0;
        helper.search($q.val(), searchCallback, {
          maxValuesPerFacet: 10,
          hitsPerPage: 10,
          advancedSyntax: true,
          queryType: 'prefixAll',
          minWordSizefor1Typo: 4,
          minWordSizefor2Typos: 7,
        });
      };

      $(window).scroll(function () {
        if ($(window).scrollTop() >= $(document).height() - $(window).height() - 100) {
          if (window.page == null) {
            $nextPage.show();
            window.page = helper.page + 1;
            helper.nextPage();
          }
        }
      });
      
      $q.on('keyup change', function() {
        window.search();
      }).focus();

      window.search();
    });
- else
  #signin-link
    %h1.text-center
      Facebook Search by
      = link_to "http://www.algolia.com" do
        = image_tag "http://www.algolia.com/assets/algolia_white.png"
      %br
      %em
        %small Rethink the way you search your Facebook feed.
    = link_to "Try with your Facebook account", '/auth/facebook', class: 'login'
    %p.text-center
      %em Your data will be <u>securely</u> indexed, only searchable by You. No spam, ever.

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
